body{
    margin: 0;
    padding: 0;
    background: whitesmoke;
  }
  .main-container{
      position: relative;
      height: 85vh;
  }
  .main{
    display:flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .imgSection{
    height: 350px;
    width: 300px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
  }
  .imgWrapper{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 99;
    top: 25%;
    left: 0;
    transition: top 0.5s;
  }
  .infoSection{
    height: 300px;
    width: 450px;
    background-color: #0d1F2D;
    position: relative;
    margin-top: 25px;
    margin-left: -150px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
  }
  .item{
    width: 50%;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .logo{
    width: 130%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    opacity: 0.1;
  }
  .productName{
    font-family: fantasy;
    font-size: 25px;
    color: white;
    margin-top: 40px;
    margin-left: 5px;
  }
  .productNo{
    font-family: arial;
    font-size: 13px;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    
  }
  .price{
    font-family: arial;
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    
  }
  .productColor{
    font-family: arial;
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
  }
  

  .colors{
    position: relative;
    margin-top: 15px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70px;
    transform: translateY(-10px);
  }
  .c{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    
  }
  .c:hover{
    cursor: pointer;
  }
  
  .rate{
    height: 60px;
    width: 60px;
    font-family: arial;
    font-size: 12px;
    color: white;;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    border: 2px solid #CB3843;
    position: absolute;
    top: 60%;
    left: 68%;
    transform: translate(-50%, -50%);
  }
  .productRate{
    font-family: arial;
    font-size: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 68%;
    transform: translate(-50%, -50%);
    
  }
  .line{
    height: 100px;
    width: 2px;
    position: absolute;
    background-color: #CB3843;
    top: 63%;
    left: 48%;
    transform: translate(-50%, -50%);
    
  }
  .addToCart{
    height: 35px;
    width: 100px;
    background-color: #cb3843;
    border-radius: 25px;
    font-family: arial;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 88%;
    left: 25%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .addToWishlist{
    width: 150px;
    display: flex;
    font-family: arial;
    color: white;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top: 88%;
    left: 79%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .heart{
    line-height: 15px;
    font-size: 15px;
    color: #cb3843;
    margin-right: 5px;
    
  }
  .next, .pre{
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    color: #cb3843;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    cursor: pointer;
  }
  .pre{
    left: 0%;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  }
  .h1{
    top: -30%;
  }
 
  .product{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 33%;
  }
  
  